.nav-link {
  margin-right: 20px;
}

.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid rgb(0, 0, 0);
  margin-bottom: -5px;
}
.btn {
  border-radius: 30px;
  font-weight: bold;
}
.dog {
  box-shadow: 0px 5px 8px 0px rgb(110, 110, 110);
  width: 50px;
  height: 50px;
}
.nav-cnt {
  box-shadow: 0px 2px 15px 0px rgb(0, 0, 0);
}
.gbr {
  background-image: url("image/cristian-castillo-73pyV0JJOmE-unsplash\ 1.png");
  background-size: cover;
  background-position: center;
  margin-top: -400px;
  z-index: -9999;
  height: 400px;
}
.content {
  width: 200px;
  height: 200px;
  background-color: black;
}
.artikel {
  display: inline;
  align-items: center;
  width: 340px;
  height: 350px;
  text-align: center;
  margin-top: 100px;
}
.im-trainer {
  width: 150px;
  height: 150px;
  box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
  transform: scale(1);
  transition: 0.3s ease;
}
.im-trainer:hover {
  transform: scale(1.05);
}
.cnt-footer {
  margin-left: 10px;
  text-align: start;
}
@media (max-width: 1024px) {
  .nav-cnt {
    box-shadow: 0px 2px 15px 0px rgb(0, 0, 0);
  }
  .nav-link {
    margin-right: 20px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-bottom: -5px;
  }
  .gbr {
    display: none;
    background-image: url("image/cristian-castillo-73pyV0JJOmE-unsplash\ 1.png");
    background-size: cover;
    background-position: center;
    z-index: -9999;
    height: 400px;
  }
  .artikel {
    display: inline;
    align-items: center;
    width: 340px;
    height: 350px;
    text-align: start;
  }
  .im-trainer {
    width: 150px;
    height: 150px;
    box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    transform: scale(1);
    transition: 0.3s ease;
  }
  .im-trainer:hover {
    transform: scale(1.05);
  }
  .cnt-footer {
    margin-left: 10px;
    text-align: center;
  }
}
@media (max-width: 578px) {
  .nav-cnt {
    box-shadow: 0px 2px 15px 0px rgb(0, 0, 0);
  }
  .nav-link {
    margin-right: 20px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  .gbr {
    background-image: url("image/cristian-castillo-73pyV0JJOmE-unsplash\ 1.png");
    background-size: cover;
    background-position: center;
    z-index: -9999;
    height: 400px;
  }
  .im-trainer {
    width: 150px;
    height: 150px;
    box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    transform: scale(1);
    transition: 0.3s ease;
  }
  .im-trainer:hover {
    transform: scale(1.05);
  }
  .cnt-footer {
    margin-left: 10px;
    text-align: center;
  }
  .artikel {
    display: inline;
    align-items: center;
    margin-top: 100px;
    width: 300px;
    height: 320px;
    text-align: center;
  }
}
