.logo-dog {
  box-shadow: 0px 5px 8px 0px rgb(110, 110, 110);
}
.nav-cnt {
  box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
}
.tombol {
  border-radius: 30px;
}
.cnt-fld {
  background-image: url(image/cristian-castillo-73pyV0JJOmE-unsplash\ 1.png);
  background-size: cover;
  width: 600px;
  height: 350px;
}
.cnt-content {
  height: 1200px;
  margin: auto;
}
.m-cnt {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.card {
  border: 1px solid blue;
  box-shadow: 0px 3px 15px 0px rgb(0, 0, 0);
  width: 230px;
  height: 250px;
  transition: 1s;
}
.card:hover {
  border: 1px solid blue;
  box-shadow: 0px 3px 15px 0px rgb(0, 0, 0);
  width: 240px;
  height: 260px;
}
.cnt-tips {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-tips {
  background-image: url(image/baptist-standaert-mx0DEnfYxic-unsplash\ 1.png);
  opacity: 0.4;
  width: 400px;
  height: 400px;
}
.tips {
  margin-top: -400px;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(229, 255, 0);
  text-align: center;
}
.im-trainer {
  width: 150px;
  height: 150px;
  box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
  transition: 1s;
}
.im-trainer:hover {
  box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
  width: 160px;
  height: 160px;
}
.cnt-footer {
  text-align: center;
}
@media (min-width: 576px) {
  .cnt-content {
    height: 600px;
  }
  .m-cnt {
    margin-bottom: 30px;
  }
  .cnt-footer {
    text-align: start;
  }
  .cnt-fld {
    background-image: url(image/cristian-castillo-73pyV0JJOmE-unsplash\ 1.png);
    background-size: cover;
    width: auto;
    height: 442px;
  }
  .img-tips {
    background-image: url(image/baptist-standaert-mx0DEnfYxic-unsplash\ 1.png);
    opacity: 100%;
    width: 400px;
    height: 400px;
  }
  .tips {
    margin-top: 0px;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}
@media (min-width: 577px) {
  .cnt-fld {
    background-image: url(image/cristian-castillo-73pyV0JJOmE-unsplash\ 1.png);
    background-size: cover;
    width: auto;
    height: 442px;
  }
  .cnt-content {
    height: 600px;
  }
  .m-cnt {
    margin-bottom: 30px;
  }
  .tips {
    margin-top: 0px;
    width: fit-content;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.199);
    color: rgb(255, 255, 255);
    text-align: start;
  }
}
